:root{
    --mon-black: #272821;
    --mon-red: #FB0170;
    --mon-purple: #AD79F5;
    --mon-blue: #13DCF2;
    --mon-green: #94E400;
    --mon-orange: #E78403;
    --mon-yellow: #DED15E;
    --mon-grey: #49483D;
    --mon-white: #F8F8F1;
}

body{
    background-color: var(--mon-black);
    border: 10px solid black;
    color: var(--mon-white);
    font-family: 'Inconsolata';

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        'header header header'
        'side-left main side-right'
        'footer footer footer'
    ;

    height: 90vh;
}

.header,
.side-left,
.side-right,
.main-content,
.footer{
    background-color: #fe80b8;
    border: 10px solid var(--mon-red);
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
}
.side-left{
    grid-area: side-left;
}
.main-content{
    grid-area: main;
}
.side-left{
    grid-area: side-right;
}
.footer{
    grid-area: footer;
}

.links{
    display: flex;
    gap: 25px;
}