body{
    background-color: honeydew;
    align-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 25px;  
    background-color: #ABD9AB;
}

.header-logo{
    margin-right: auto;
    font-size: 25px;
}
.plan,
.story,
.successes,
.journal{
    color: black;
    font-size: 20px;
    text-decoration: underline dashed black;
}
.content{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}
h1{
    margin-bottom: 90px;
    text-align: center;
}
h2,
h3{
    text-align: center;
}

.journey{
    border: black solid 1px;
    width: 500px;
    height: 500px;
}

.learning,
.micro-saas,
.saas{
    display: inline-block;
    border: grey dotted 1px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.learning{
    background-color: lightcoral;
}
.micro-saas{
    background-color: lightgoldenrodyellow;
}
.saas{
    background-color: lightgreen;
}