body{
    background-color: honeydew;
    align-content: center;
}

.content{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}
h1{
    margin-bottom: 90px;
    text-align: center;
}
h2,
h3{
    text-align: center;
}

.journey{
    border: black solid 1px;
    width: 500px;
    height: 500px;
}

.learning,
.micro-saas,
.saas{
    display: inline-block;
    border: grey dotted 1px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.learning{
    background-color: lightcoral;
}
.micro-saas{
    background-color: lightgoldenrodyellow;
}
.saas{
    background-color: lightgreen;
}